<mat-sidenav-container fullscreen>
    <mat-sidenav #sidevar mode="push">
        <mat-toolbar color="primary">
            <span>Menu</span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidevar.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink='/dashboard/agregar' mat-list-item>
                <mat-icon mat-list-icon>add</mat-icon>
                <span> Crear Sensor </span>
            </a>
            <a *ngIf="usuario!=null" [routerLink]="['/dashboard/listado', usuario.uid]" mat-list-item>
                <mat-icon mat-list-icon>sensor_occupied</mat-icon>
                <span> Mis Sensores </span>
            </a>
            <a routerLink="/dashboard/listado" mat-list-item>
                <mat-icon mat-list-icon>sensors</mat-icon>
                <span> Listado de Sensores </span>
            </a>
            <a routerLink="/dashboard/reportes" mat-list-item>
                <mat-icon mat-list-icon>report</mat-icon>
                <span> Reportes de los Sensores </span>
            </a>
        </mat-nav-list>
    </mat-sidenav>



    <mat-toolbar color="primary">
        <span>Menú</span>
        <button mat-icon-button (click)="sidevar.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        <span class="spacer"></span>
        <span *ngIf="usuario!=null" style="margin-right: 10px;">{{usuario.nombre}}</span>
        <img *ngIf="usuario!=null" [mat-menu-trigger-for]="menu" #menuTrigger="matMenuTrigger"
            (mouseover)="menuTrigger.openMenu()" class="imagen" [src]="usuario.imagen" [alt]="usuario.nombre">


        <mat-menu #menu="matMenu" [overlapTrigger]="false">
            <button routerLink="/dashboard/editar" type="button" mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>Perfil de Usuario</span>
            </button>
            <button routerLink="/dashboard/password" type="button" mat-menu-item>
                <mat-icon>password</mat-icon>
                <span>Cambiar password</span>
            </button>
            <button type="button" (click)="logout()" mat-menu-item>
                <mat-icon>exit_to_app</mat-icon>
                <span>Logout</span>
            </button>
        </mat-menu>

        <!-- <button mat-raised-button color="accent" (click)="logout()">
            Logout
        </button> -->
    </mat-toolbar>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>