<form fxLayout="row" fxLayoutAlign="center" *ngIf="miFormulario!=null" autocomplete="off" [formGroup]="miFormulario"
    (ngSubmit)="cambiarPassword()">
    <div fxLayout="column" fxFlex="40">
        <h1 fxLayoutAlign="center">Cambiar Contraseña</h1>
        <mat-form-field>
            <mat-label>Contraseña Anterior</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nueva Contraseña</mat-label>
            <input matInput type="password" formControlName="newPassword">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Confirme Nueva Contraseña</mat-label>
            <input matInput type="password" formControlName="newPasswordConfirm">
        </mat-form-field>
        <div fxLayout>
            <button type="submit" mat-raised-button color="primary">
                <mat-icon>update</mat-icon> Actualizar Contraseña
            </button>
            <div class="spacer"></div>
            <button type="button" routerLink="/dashboard" mat-raised-button color="warn">
                <mat-icon>cancel</mat-icon> Cancelar
            </button>
        </div>
    </div>

</form>